<!DOCTYPE html>
<html>
  <head>
      <title>DraftRMS</title>
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/materialize.css">
  </head>
  <body>
    <script src="js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="js/backlog.js"></script>

    <div class="nav-wrapper">
      <span class="my-logo">DraftRMS</span>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn" id="create-btn" onclick="createRequirement()">Create New</a>
        <a class="waves-effect waves-light btn" onclick="showLoginCard()" id="login-btn">Log In</a>
        <a class="waves-effect waves-light btn" id="logout-btn" onclick="logout()">Log Out</a>
      </ul>
    </div>

<!--    <div class="filter">
      <form class="" action="index.html" method="post">
        Id: <input type="text" name="" value="">
        Type: <input type="checkbox" name="" value=""> SR+SolR <input type="checkbox" name="" value=""> BR
        Requirement Text: <input type="text" name="" value="">
        Status:
          <input type="checkbox" name="" value=""> Proposed
          <input type="checkbox" name="" value=""> Evalueted
          <input type="checkbox" name="" value=""> Included
          <input type="checkbox" name="" value=""> Archived
          <input type="checkbox" name="" value=""> Rejected
        Authors: <input type="text" name="" value="">
      </form>
    </div>-->

    <!-- Modal Login Popup -->
    <div id="login-card" class="login-card modal">
      <div class="modal-content">
          <div class="row">
            <div class="label">
              <label for="email">Email</label>
            </div>
            <div class="input">
              <input type="email" id="email">
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="pass">Password</label>
            </div>
            <div class="input">
              <input type="password" id="pass">
            </div>
          </div>
          <button class="btn waves-effect waves-light" onclick="login()">Submit</button>
      </div>
    </div>

    <!-- Modal Requirement Popup -->
    <div class="modal" id="requirement-card">
      <div class="modal-content">
        <h4>Requirement Id: <span id="req_id"></span></h4>
        <div class="attribute-panel">
          From '<span id="req_group"></span>' group, was proposed by: <span id="req_author"></span>, at <span id="req_eliciataion"></span>
        </div>

        <div class="tab-panel">
          <div class="single-tab" onclick="showRequirementContentTab()">
            General
          </div>
          <div class="single-tab"  onclick="showRequirementCommentTab()">
            Comments
          </div>
        </div>

        <div class="general-wrapper" id='generalTab'>
          <div class="content">
            <label>Text of Requirement</label>
            <div id="req_text">

            </div>
          </div>

          <div class="sidebar">
            <div class="row">
              <div class="label">
                <label>Priority</label>
              </div>
              <div class="value">
                <span id="req_prior"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Status</label>
              </div>
              <div class="value">
                <span id="req_status"></span> <a href="" id="req_CR" target="_blank">(see the CR)</a>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>BE Estimate</label>
              </div>
              <div class="value">
                <span id="req_BE"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>FE Estimate</label>
              </div>
              <div class="value">
                <span id="req_FE"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Source</label>
              </div>
              <div class="value">
                <span id="req_sorce"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Notes</label>
              </div>
              <div class="value">
                <span id="req_notes"></span>
              </div>
            </div>
          </div>

        </div> <!-- end of wrapper for content-->

        <div class="general-wrapper" id="commentTab">
          <div id="feed">

          </div>

          <div>
            Send comment:
          </div>
          <div class="comment-input">
            <textarea class="answer" id='answer' rows="8" cols="80"></textarea>
            <span class="modal-action modal-close waves-effect waves-green btn-flat" onclick="sendComment()">Send</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <span class="modal-action modal-close waves-effect waves-green btn-flat btn-close" onclick="closeRequirementCard()">Close</span>
      </div>
    </div>

    <!--backlog content-->
    <div class="row" id="backlog">
      <div class="col s12">
        <table class="bordered highlight responsive-table backlog">
          <thead>
            <tr>
              <th class="backlog_amount center-align">Id</th>
              <th class="backlog_10 center-align">Group</th>
              <th class="backlog_10 center-align">Type</th>
              <th>Requirement</th>
              <th class="backlog_amount center-align">Priority</th>
              <th class="backlog_amount center-align">BE</th>
              <th class="backlog_amount center-align">FE</th>
              <th class="backlog_status center-align">Status</th>
              <th class="backlog_10 center-align">Authors</th>
              <th class="backlog_10 center-align">CR Link</th>
              <th class="backlog_10 center-align">Sorce</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<backlog.recordset.length; i++) {%>
              <tr onclick="showRequirementCard('<%= backlog.recordset[i].Id  %> ')">
                <td class="center-align modal-trigger"><a href="localhost:3000/<%= backlog.recordset[i].Id  %>"><%= backlog.recordset[i].Id  %></a></td>
                <td class="center-align"><%= backlog.recordset[i].Group  %></td>
                <td class="center-align"><%= backlog.recordset[i].Type  %></td>
                <td><%= backlog.recordset[i].RawDataPlant  %></td>
                <td class="center-align"><%= backlog.recordset[i].Priority  %></td>
                <td class="center-align"><%= backlog.recordset[i].BE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].FE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].Status  %></td>
                <td><%= backlog.recordset[i].Authors  %></td>
                <td><a href="<%= backlog.recordset[i].ChangeRequestLink  %>" target="_blank"><%= backlog.recordset[i].ChangeRequestLink  %></a> </td>
                <td><%= backlog.recordset[i].Source  %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div> <!-- end of backlog-->

  </body>
</html>
