<!DOCTYPE html>
<html>
  <head>
      <title>DraftRMS</title>
  </head>
  <body>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Group</th>
            <th>Type</th>
            <th>Requirement</th>
            <th>Priority</th>
            <th>BE</th>
            <th>FE</th>
            <th>Status</th>
            <th>Authors</th>
            <th>CR Link</th>
            <th>Sorce</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<backlog.recordset.length; i++) {%>
            <tr>
              <td><%= backlog.recordset[i].Id  %></td>
              <td><%= backlog.recordset[i].Group  %></td>
              <td><%= backlog.recordset[i].Type  %></td>
              <td><%= backlog.recordset[i].RawDataPlant  %></td>
              <td><%= backlog.recordset[i].Priority  %></td>
              <td><%= backlog.recordset[i].BE_Estimate %></td>
              <td><%= backlog.recordset[i].FE_Estimate %></td>
              <td><%= backlog.recordset[i].Status  %></td>
              <td><%= backlog.recordset[i].Authors  %></td>
              <td><a href="<%= backlog.recordset[i].ChangeRequestLink  %>"><%= backlog.recordset[i].ChangeRequestLink  %></a> </td>
              <td><%= backlog.recordset[i].Source  %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
  </body>
</html>
