<!DOCTYPE html>
<html>
  <head>
      <title>DraftRMS</title>
      <link rel="stylesheet" href="css/materialize.css">
      <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <script src="js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      function dateFormatting(date) {
        var d = new Date(date);
        var monthNames = ["Jan", "Feb", "March", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];
        return d.getDate() + '-' + monthNames[d.getMonth()] + '-' + d.getFullYear();
      };

      function showRequirementCard(id) {
        document.getElementById('requirement-card').style.display = 'block';

        document.getElementById('req_id').innerHTML = id;
        localStorage.setItem('req_id', id);
        $.post('/api/getRequirementId', {req_id: id}, function(data){
          document.getElementById('req_text').innerHTML = data.recordset[0].RawDataPlant;
          document.getElementById('req_group').innerHTML = data.recordset[0].Group;
          document.getElementById('req_author').innerHTML = data.recordset[0].Authors;
          if (data.recordset[0].ElicitationDate) {
            document.getElementById('req_eliciataion').innerHTML = dateFormatting(data.recordset[0].ElicitationDate)
          } else {
            document.getElementById('req_eliciataion').innerHTML = 'N/A'
          }
          document.getElementById('req_prior').innerHTML = data.recordset[0].Priority;
          document.getElementById('req_status').innerHTML = data.recordset[0].Status;
          document.getElementById('req_BE').innerHTML = data.recordset[0].BE_Estimate;
          document.getElementById('req_FE').innerHTML = data.recordset[0].FE_Estimate;
          if (data.recordset[0].ChangeRequestLink) {
            document.getElementById('req_CR').setAttribute("href", data.recordset[0].ChangeRequestLink);
            document.getElementById('req_CR').style.display = 'inline';
          } else {
            document.getElementById('req_CR').style.display = 'none';
          };
          document.getElementById('req_sorce').innerHTML = data.recordset[0].Source;
          document.getElementById('req_notes').innerHTML = data.recordset[0].Comment;

          $.post('/api/getComment', {req_id: id}, (data)=>{
            loadComment(data);
          });
      });
    };

      function closeRequirementCard(){
        document.getElementById('requirement-card').style.display = 'none';
      };

      function showLoginCard(){
        document.getElementById('login-card').style.display = 'block';
      };

      function login(){
        $.post('/api/login', {
          email: document.getElementById('email').value,
          pass: document.getElementById('pass').value
        },
        function(data){
          if (data.recordset[0].Name) {
            document.getElementById('login-card').style.display = 'none';
            document.getElementById('login-btn').style.display = 'none';
            document.getElementById('logout-btn').style.display = 'inline-block';
            document.getElementById('create-btn').style.display = 'inline-block';
            document.getElementById('backlog').style.display = 'block';
            localStorage.setItem('user', data.recordset[0].Name);
            localStorage.setItem('user_id', data.recordset[0].Id);
            localStorage.setItem('user_role', data.recordset[0].Role);
            localStorage.setItem('user_email', data.recordset[0].Email);
          }
        }
      )};

      function logout (){
        var date = new Date(0);
        localStorage.removeItem('user');
        localStorage.removeItem('user_id');
        localStorage.removeItem('user_role');
        localStorage.removeItem('user_email');
        document.getElementById('logout-btn').style.display = 'none';
        document.getElementById('create-btn').style.display = 'none';
        document.getElementById('backlog').style.display = 'none';
        document.getElementById('login-btn').style.display = 'inline-block';
        closeRequirementCard();
      };

      function sendComment(){
        var answer = document.getElementById('answer');
        if (answer.value) {
          $.post('/api/addcomment', {
            text: document.getElementById('answer').value,
            user_id: localStorage.getItem('user_id'),
            req_id: localStorage.getItem('req_id')
          }, function(d){

            $.post('/api/getComment', {req_id: localStorage.getItem('req_id')}, (data)=>{
              loadComment(data);
              answer.value = "";
          })
        })
      }
    };

      function ready(){
        if (localStorage.getItem('user')) {
          document.getElementById('login-btn').style.display = 'none';
        } else {
          document.getElementById('logout-btn').style.display = 'none';
          document.getElementById('create-btn').style.display = 'none';
          document.getElementById('backlog').style.display = 'none';
        }
      };
      document.addEventListener('DOMContentLoaded', ready);

      function createRequirement(){
        alert(localStorage.getItem('user'));
      }

      function showRequirementContentTab(){
        document.getElementById('generalTab').style.display = 'flex';
        document.getElementById('commentTab').style.display = 'none';
      }

      function loadComment(data) {
        if (data) {
          var feed  = document.getElementById('feed');

          while(feed.childNodes[0]){
           feed.removeChild(feed.childNodes[0]);
          }

          for (var i = 0; i < data.recordset.length; i++) {
            var comment = document.createElement('div');
            comment.className = 'comment';

            var commentHeader = document.createElement('p');
            commentHeader.className = 'comment-header';
            commentHeader.innerHTML = 'Comment was written at '+ dateFormatting(data.recordset[i].Timestamp) + ' by ' + data.recordset[i].UserName;
            comment.appendChild(commentHeader);

            var commentText = document.createElement('p');
            commentText.innerHTML = data.recordset[i].Text;
            comment.appendChild(commentText);

            feed.appendChild(comment);
          }
        }
      };

      function showRequirementCommentTab(){
        document.getElementById('generalTab').style.display = 'none';
        document.getElementById('commentTab').style.display = 'block';

        $.post('/api/getComment', {req_id: localStorage.getItem('req_id')}, (data)=>{
          loadComment(data);
        });
      }

    </script>

    <div class="nav-wrapper">
      <span class="my-logo">DraftRMS</span>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn" id="create-btn" onclick="createRequirement()">Create New</a>
        <a class="waves-effect waves-light btn" onclick="showLoginCard()" id="login-btn">Log In</a>
        <a class="waves-effect waves-light btn" id="logout-btn" onclick="logout()">Log Out</a>
      </ul>
    </div>

    <!-- Modal Login Popup -->
    <div id="login-card" class="login-card modal">
      <div class="modal-content">
          <div class="row">
            <div class="label">
              <label for="email">Email</label>
            </div>
            <div class="input">
              <input type="email" id="email">
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="pass">Password</label>
            </div>
            <div class="input">
              <input type="password" id="pass">
            </div>
          </div>
          <button class="btn waves-effect waves-light" onclick="login()">Submit</button>
      </div>
    </div>

    <!-- Modal Requirement Popup -->
    <div class="modal" id="requirement-card">
      <div class="modal-content">
        <h4>Requirement Id: <span id="req_id"></span></h4>
        <div class="attribute-panel">
          From '<span id="req_group"></span>' group, was proposed by: <span id="req_author"></span>, at <span id="req_eliciataion"></span>
        </div>

        <div class="tab-panel">
          <div class="single-tab" onclick="showRequirementContentTab()">
            General
          </div>
          <div class="single-tab"  onclick="showRequirementCommentTab()">
            Comments
          </div>
        </div>

        <div class="general-wrapper" id='generalTab'>
          <div class="content">
            <label>Text of Requirement</label>
            <div id="req_text">

            </div>
          </div>

          <div class="sidebar">
            <div class="row">
              <div class="label">
                <label>Priority</label>
              </div>
              <div class="value">
                <span id="req_prior"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Status</label>
              </div>
              <div class="value">
                <span id="req_status"></span> <a href="" id="req_CR" target="_blank">(see the CR)</a>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>BE Estimate</label>
              </div>
              <div class="value">
                <span id="req_BE"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>FE Estimate</label>
              </div>
              <div class="value">
                <span id="req_FE"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Source</label>
              </div>
              <div class="value">
                <span id="req_sorce"></span>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Notes</label>
              </div>
              <div class="value">
                <span id="req_notes"></span>
              </div>
            </div>
          </div>

        </div> <!-- end of wrapper for content-->

        <div class="general-wrapper" id="commentTab">
          <div id="feed">

          </div>

          <div>
            Send comment:
          </div>
          <div class="comment-input">
            <textarea class="answer" id='answer' rows="8" cols="80"></textarea>
            <span class="modal-action modal-close waves-effect waves-green btn-flat" onclick="sendComment()">Send</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <span class="modal-action modal-close waves-effect waves-green btn-flat btn-close" onclick="closeRequirementCard()">Close</span>
      </div>
    </div>

    <!--backlog content-->
    <div class="row" id="backlog">
      <div class="col s12">
        <table class="bordered highlight responsive-table backlog">
          <thead>
            <tr>
              <th class="backlog_amount center-align">Id</th>
              <th class="backlog_10 center-align">Group</th>
              <th class="backlog_10 center-align">Type</th>
              <th>Requirement</th>
              <th class="backlog_amount center-align">Priority</th>
              <th class="backlog_amount center-align">BE</th>
              <th class="backlog_amount center-align">FE</th>
              <th class="backlog_status center-align">Status</th>
              <th class="backlog_10 center-align">Authors</th>
              <th class="backlog_10 center-align">CR Link</th>
              <th class="backlog_10 center-align">Sorce</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<backlog.recordset.length; i++) {%>
              <tr onclick="showRequirementCard('<%= backlog.recordset[i].Id  %> ')">
                <td class="center-align modal-trigger"><%= backlog.recordset[i].Id  %></td>
                <td class="center-align"><%= backlog.recordset[i].Group  %></td>
                <td class="center-align"><%= backlog.recordset[i].Type  %></td>
                <td><%= backlog.recordset[i].RawDataPlant  %></td>
                <td class="center-align"><%= backlog.recordset[i].Priority  %></td>
                <td class="center-align"><%= backlog.recordset[i].BE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].FE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].Status  %></td>
                <td><%= backlog.recordset[i].Authors  %></td>
                <td><a href="<%= backlog.recordset[i].ChangeRequestLink  %>" target="_blank"><%= backlog.recordset[i].ChangeRequestLink  %></a> </td>
                <td><%= backlog.recordset[i].Source  %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div> <!-- end of backlog-->

  </body>
</html>
