<!DOCTYPE html>
<html>
  <head>
      <title>DraftRMS</title>
      <link rel="stylesheet" href="css/materialize.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/index.css">
    </head>
  <body>
    <div class="nav-wrapper">
      <span class="my-logo">DraftRMS</span>
      <span class="no-data-fetched">No data for these filters!</span>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn" id="create-btn" onclick="createRequirement()">Create New</a>
        <a class="waves-effect waves-light btn" onclick="showLoginCard()" id="login-btn">Log In</a>
        <a class="waves-effect waves-light btn" id="logout-btn" onclick="logout()">Log Out</a>
      </ul>
    </div>

    <!-- Modal Login Popup -->
    <div id="login-card" class="login-card modal">
      <div class="modal-content">
          <div class="row">
            <div class="label">
              <label for="email">Email</label>
            </div>
            <div class="input">
              <input type="email" id="email">
            </div>
          </div>
          <div class="row">
            <div class="label">
              <label for="pass">Password</label>
            </div>
            <div class="input">
              <input type="password" id="pass">
            </div>
          </div>
          <button class="btn waves-effect waves-light" onclick="login()">Submit</button>
      </div>
    </div>

    <!-- Modal Requirement Popup -->
    <div class="modal" id="requirement-card">
      <div class="modal-content">
        <h4 class="hide-in-create">Requirement Id: <span id="req_id"></span></h4>
        <h4 class="show-in-create">New requirement</h4>
        <div class="attribute-panel hide-in-create">
          From '<span id="req_group"></span>' group, was proposed by: <span id="req_author"></span>, at <span id="req_eliciataion"></span>
        </div>

        <div class="tab-panel hide-in-create hide-in-edit">
          <div class="single-tab" onclick="showRequirementContentTab()">
            General
          </div>
          <div class="single-tab"  onclick="showRequirementCommentTab()">
            Comments <b><span id="commentAmount"></span></b>
          </div>
          <div class="single-tab"  onclick="showRequirementAttachmentTab()">
            Attachments
          </div>
        </div>

        <div class="general-wrapper" id='generalTab'>
          <div class="content">
            <label>Text of Requirement</label>
            <div id="req_text" class="view-field">
            </div>
            <div class="edit-field req-text-wrapper">
              <textarea id="req_text_edit" class="req-text" rows="5"></textarea>
            </div>
          </div>

          <div class="sidebar">
            <div class="row">
              <div class="label">
                <label>Priority</label>
              </div>
              <div class="value view-field">
                <span id="req_prior"></span>
              </div>
              <div class="value edit-field">
                <input type="number" id="req_prior_edit" />
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Status</label>
              </div>
              <div class="value view-field">
                <span id="req_status"></span> <a href="" id="req_CR" target="_blank">(see the CR)</a>
              </div>
              <div class="input-field value edit-field">
                <select id="status-select">
                  <option value="" disabled selected>Choose your option</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Is Reviewed</label>
              </div>
              <div class="value view-field">
                <span id="req_isreviewed"></span>
              </div>
              <div class="edit-field">
                <input id="isreviewed-checkbox" type="checkbox"><label for="isreviewed-checkbox"></label>
              </div>
            </div>

            <div class="row edit-row">
              <div class="label">
                <label>CR Link</label>
              </div>
              <div class="value edit-field">
                <input type="text" id="req_crLink_edit" />
              </div>
            </div>

            <div class="row edit-row">
              <div class="label">
                <label>Authors</label>
              </div>
              <div class="value edit-field">
                <input type="text" id="req_authors_edit" />
              </div>
            </div>

            <div class="row edit-row">
                <div class="label">
                  <label>Req. date</label>
                </div>
                <div class="value edit-field">
                    <input type="date" id="req_date_edit">
                </div>
              </div>

            <div class="row">
              <div class="label">
                <label>BE Estimate</label>
              </div>
              <div class="value view-field">
                <span id="req_BE"></span>
              </div>
              <div class="value edit-field">
                <input type="number" id="req_BE_edit" />
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>FE Estimate</label>
              </div>
              <div class="value view-field">
                <span id="req_FE"></span>
              </div>
              <div class="value edit-field">
                <input type="number" id="req_FE_edit" />
              </div>
            </div>

            <div class="row edit-row">
              <div class="label">
                <label>Group</label>
              </div>
              <div class="input-field value edit-field">
                <select id="group-select">
                  <option value="" disabled selected>Choose your option</option>
                </select>
              </div>
            </div>

            <div class="row edit-row">
              <div class="label">
                <label>Type</label>
              </div>
              <div class="input-field value edit-field">
                <select id="type-select">
                  <option value="" disabled selected>Choose your option</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Source</label>
              </div>
              <div class="value view-field">
                <span id="req_sorce"></span>
              </div>
              <div class="value edit-field">
                <textarea class="req-notes" id="req_source_edit" ></textarea>
              </div>
            </div>

            <div class="row">
              <div class="label">
                <label>Notes</label>
              </div>
              <div class="value view-field">
                <span id="req_notes"></span>
              </div>
              <div class="value edit-field">
                <textarea class="req-notes" id="req_notes_edit" ></textarea>
              </div>
            </div>
          </div>

        </div> <!-- end of wrapper for content-->

        <div class="general-wrapper" id="commentTab">
          <div id="feed">

          </div>

          <div>
            Send comment:
          </div>
          <div class="comment-input">
            <textarea class="answer" id='answer' rows="8" cols="80"></textarea>
            <span class="modal-action modal-close waves-effect waves-green btn-flat" onclick="sendComment()">Send</span>
          </div>
        </div>

        <div class="general-wrapper" id="attachment-tab">
          <form ref='upload-form'
            id='upload-form'
            action='api/addAttachment'
            method='post'
            encType="multipart/form-data">
              <input type="file" name="sampleFile" />
              <input type='submit' class="btn-flat" value='Upload!' />
          </form>
          <ul id="attachment-list">
          </ul>
        </div>

      </div>
      <div class="modal-footer">
        <span class="modal-action modal-close waves-effect waves-green btn-flat btn-close" onclick="closeRequirementCard()">Close</span>
        <span class="modal-action modal-close waves-effect waves-green btn-flat btn-edit view-field" onclick="editRequirementCard()">Edit</span>
        <span class="modal-action modal-close waves-effect waves-green btn-flat btn-save edit-field" onclick="saveRequirement()">Save</span>
      </div>
    </div>

    <!--backlog content-->
    <div class="row" id="backlog">
      <div class="col s12">
        <table class="bordered highlight responsive-table backlog">
          <thead>
            <tr>
              <th class="backlog_amount center-align">
                <div>Id</div>
                <div><input id="filter-id" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_10 center-align">
                <div>Group</div>
                <div><input id="filter-group" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_10 center-align">
                <div>Type</div>
                <div><input id="filter-type" onkeyup="filterKeyUp()"/></div>
              </th>
              <th>
                <div>Requirement</div>
                <div><input id="filter-requirement" onkeyup="filterKeyUp()"></div>
              </th>
              <th class="backlog_amount center-align">
                <div>Priority</div>
                <div><input id="filter-priority" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_amount center-align">
                <div>BE</div>
                <div><input id="filter-be" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_amount center-align">
                <div>FE</div>
                <div><input id="filter-fe" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_status center-align">
                <div>Status</div>
                <div><input id="filter-status" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_amount center-align">
                <div>Reviewed</div>
                <div><input id="filter-isreviewed" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_10 center-align">
                <div>Authors</div>
                <div><input id="filter-authors" onkeyup="filterKeyUp()"/></div>
              </th>
              <th class="backlog_10 center-align">
                <div>CR Link</div>
                <div><input id="filter-cr-link" onkeyup="filterKeyUp()"/></div>
              </th>
            </tr>
          </thead>
          <tbody id="backlog-body">
            <% for(var i=0; i<backlog.recordset.length; i++) {%>
              <tr onclick="showRequirementCard('<%= backlog.recordset[i].Id  %>', 'view')">
                <td class="center-align modal-trigger"><a href="http://draftrms-budgets.dataart.com:3000/<%= backlog.recordset[i].Id  %>"><%= backlog.recordset[i].Id  %></a></td>
                <td class="center-align"><%= backlog.recordset[i].Group  %></td>
                <td class="center-align"><%= backlog.recordset[i].Type  %></td>
                <td><%= backlog.recordset[i].RawDataPlant  %></td>
                <td class="center-align"><%= backlog.recordset[i].Priority  %></td>
                <td class="center-align"><%= backlog.recordset[i].BE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].FE_Estimate %></td>
                <td class="center-align"><%= backlog.recordset[i].Status  %></td>
                <td><%= backlog.recordset[i].IsReviewed  %></td>
                <td><%= backlog.recordset[i].Authors  %></td>
                <td><a href="<%= backlog.recordset[i].ChangeRequestLink  %>" target="_blank"><%= backlog.recordset[i].ChangeRequestLink  %></a> </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div> <!-- end of backlog-->

    <script src="js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/backlog.js"></script>
  </body>
</html>
